<div class="row">

  <div class="large-7 columns ">

      
<h2>About us</h2>
<p>We sell natural, organic, fair trade and ethically sourced products on behalf of manufacturers.
We effectively represent each brand with
focussed awareness of its’ market opportunity.
Growing brands through our informed, passionate sales team is what we do.</p>

  </div>

  <div class="large-5 columns">

      <h2> You Create A Great Brand.
           We Sell it Everyday,
           Everywhere We Go. </h2>

  
  </div>
</div>  

