<div class="row">

  <div class="large-7 columns ">
  	<h2>Contact</h2>

<address>
	<p class="cname">Epic Natural Sales</p>	
	<p class="street">65 Sea Cliff Avenue</p>
	<p class="apt">Suite 2</p>
	<p class="area">Glen Cove, NY 11542</p> 
	<p class="phone">Phone: 516-609-2509</p>
	<p class="fax">Fax: 516-609-9336</p>
	<p class="email">melanie.melia@epicnatural.com</p>
</address>

Ship Samples to: Epic Natural Sales
65 Sea Cliff Avenue
Suite 2
Glen Cove, NY 11542
          

     
  </div>

  <div class="large-5 columns">

      <h2> You Create A Great Brand.
           We Sell it Everyday,
           Everywhere We Go. </h2>

  
  </div>
</div>  
