<div class="row">

  <div class="large-7 columns">
  	<h2>EPIC natural</h2>

      
      <p>Epic Natural Sales is a manufactures representative with an exclusive focus on organic, natural, fair trade and ethically sourced products. Manufacturers engage us to move their brands from post-product development or a current state of availability in a local market into wider distribution channels. The fundamental job on behalf of our clients is to work as their outsourced sales team. Epic Natural Sales currently represents approximately 45 brands to 800 retail stores that range in type from Whole Foods Market to single location natural food stores and coops. </p>
  </div>

  <div class="large-5 columns">

      <h2> You Create A Great Brand.
           We Sell it Everyday,
           Everywhere We Go. </h2>

  
  </div>
</div>  

