<div class="row">

  <div class="large-7 columns ">

      
      <h2>Service</h2>
      <p>
Our success in business comes from our warm, professional, efficient style. Our vision incorporates everyone as a member of the same team unified by the same goal. Our business philosophy embraces:

attention to detail ("retail is detail")
focus on your topline as well as your bottom line
acting as our vendors' eyes and ears in the marketplace
assessing our vendors' needs by listening carefully and responsibly
honest and open communication
Our services include:

consultation on packaging, pricing and positioning new products
product presentation and placement at retail
wholesale / distribution placement
promotional design and management for wholesale and retail
      </p>
  </div>

  <div class="large-5 columns">

    <h2> You create a great brand... we sell it. </h2>


    <div class="flex-video">

    <iframe width="420" height="315" src="http://www.youtube.com/embed/pVzNN85OzcA" frameborder="0" allowfullscreen></iframe>
  </div>

  
  </div>
</div>  
